#navegacion #navbar a{
    color:black;
    text-decoration: none;
}
.text-center{
    text-align: center;
}

.hero{
    background-image: url(../img/principal.jpg);
    height: 25rem;
    background-size: cover;
    background-position: center center;
}
#navegacion #navbar{
    display:flex;
    justify-content: space-between;
    padding-bottom: 2em;
}